target/
*.log
.idea/
*.iml
.vscode/
.classpath
.project
.settings/
.DS_Store
Thumbs.db
docs/
docs/*
test-config/
local-tmp/
.run/
third-agent/
coding-terminal-tui4j-demo/
/deer-flow/
/haifa-agent-applications/haifa-agent-cli/distribution/
